<!DOCUTYPE html>
<html>
<head>
     <title>ToDo List</title>
<!--=========LINKS=========-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- ========================-->
    
    
<!--=========FONTS LINK=========-->
<link href="https://fonts.googleapis.com/css?family=Spectral" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Merienda+One" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Berkshire+Swash" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Mogra" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Philosopher" rel="stylesheet">
    
    
<style>
    body {
        background-image: url("http://68.media.tumblr.com/tumblr_m33cchxrWt1ruzojxo1_1280.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    
    li a:hover {
        background-color: snow;
        border-radius: 16px;
    }
</style>

</head>
<body>
      
<!--NAVBAR SECTION-->


      
<nav class="navbar navbar" style="background: #1e1818">
    <div class="container-fluid">
        <div class="navbar-header"><li>
            <a class="navbar-brand" href="http://www.kitinfonest.com/" style="color:#eb2226; font-family: 'Philosopher', sans-serif; font-size: 18px;"><i class="fa fa-info-circle" aria-hidden="true"></i>About Us</a></li>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/register2" style="color:#eb2226; font-family: 'Philosopher', sans-serif; font-size: 18px;"><i class="fa fa-book" aria-hidden="true"></i>Developer</a></li>
            <li><a href="/register" style="color:#eb2226; font-family: 'Philosopher', sans-serif; font-size: 18px;"><span class="glyphicon glyphicon-user" ></span> Sign Up</a></li>
            <li><a href="/login" style="color:#eb2226; font-family: 'Philosopher', sans-serif; font-size: 18px"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            <li><a href="/logout" style="color:#eb2226; font-family: 'Philosopher', sans-serif; font-size: 18px;"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
        </ul>
    </div>
</nav>
