<DOCTYPE! html>
<html>
<head>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
    <style>
       body  {font-family: "Lato", sans-serif;}
        h1    {font-family:cursive;}
    </style>
    
<body>
        
<div class="container"> 
     <legend>  <h1 style="text-align:center;" >Reports</h1></legend>
       
       
       
                  
          <button><a href="/dashboard" style="color:black;"><span class="glyphicon glyphicon-hand-left">GoBack</span></a></button>
    </div>
</body>
</html>    