<DOCTYPE! html>
<html>
<head>
         <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
    <style>
       body  {font-family: "Lato", sans-serif;}
        h1    {font-family:cursive;}
    </style>
    
<body>
        
<div class="container"> 
     <legend>  <h1 style="text-align:center;" >Reports</h1></legend>
     <form> <div class="input-group">
      <span class="input-group-addon">Add Reports</span>
      <input  type="text" class="form-control" name="msg" >
<!--          <button class="btn btn-default col-lg-8" type="submit">Submit </button>-->
          <button type="button" class="btn btn-primary btn-sm btn-block">Submit</button>
    </div>
    </form>       
           <a href="/developer" class="btn btn-danger" role="button">Go Back</a>
    </div>
</body>
</html>    